ASPNETCORE_URLS=http://+:7000
ASPNETCORE_ENVIRONMENT=Development
TPU_ConnectionStrings__PostgreSQL=Server=postgres_service;Port=5432;Database=PreventistasDB;User Id=owner;Password=owner;
TPU_JwtSettings__Secret=oiasdpoia98-123242f34-5242342s34-2bdfa358-a556-48a5-a4f2-dd6432e3aa4a